ion-list {
    --ion-color-base: none;
    background: none;
}

ion-item {
	--padding-end: 0px;
	--inner-padding-end: 0px;
	--padding-start: 0;
	margin-bottom: 1em;
    --highlight-color-focused: none;

    --border-width: 0px;
    --border-color: #fff !important;
    /*--border-radius: 30px;*/
    --padding-top: 0px;
    border: none;
    /*border-radius: 30px;*/
    border: none;
    --highlight-color-focused: none;
    --highlight-border-width: 0px;
    position: relative;
}

ion-item.item-has-focus ion-label {
	color: #333;
}


ion-item ion-icon{
    position: absolute;
    top: 14px;
    right: 18px;
}

ion-item ion-icon + ion-input{
    padding-right: 30px !important;

}


ion-item ion-input {
    padding: 6px !important;
    --padding-start: 20px;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    border: 2px solid #fff;
    border-radius: 30px;

}



.login-wrap{
    padding-bottom: 60px;
}

.login-page .logo-wrap{
    margin-bottom: 40px;
}
.login-page .logo-wrap img{
    max-width: 100px;
}
.btn-group{
    max-width: 70%;
    margin: 0 auto;
}

.forgot-pass{
    text-align: right;
    padding-right: 12px;
}
.forgot-pass a{
    text-decoration: none;
}




