.intro-page .intro-wrapper {
    background: url(../../../assets/images/intro-bg.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding: 40px 20px;
}


.back-btn {
    width: 30px;
}


.video-icon img{
    width: 40px;

}

